*.csv
*.dat
*.iml
*.log
npm-debug.log.*
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

coverage
node_modules

.*
!.gitignore
!.babelrc
!.gitlab-ci.yml
!.vscode
!.gitkeep
!.eslintrc.js

.DS_Store
